@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text {
  @apply bg-gradient-to-r from-primary-teal to-primary-blue bg-clip-text text-transparent;
}

.hover-gradient-text:hover {
  @apply bg-gradient-to-r from-primary-teal to-primary-blue bg-clip-text text-transparent;
}

.gradient-bg {
  @apply bg-gradient-to-r from-primary-teal to-primary-blue;
}

.secondary-btn {
  @apply rounded-md bg-primary-blue text-center text-sm text-sky-50;
}

.main-btn-bg {
  @apply bg-gradient-to-r from-primary-teal to-primary-blue;
}
.main-btn-bg.muted {
  @apply opacity-50;
}

.main-input {
  @apply rounded-lg bg-gray-100 px-3 py-2 text-sm caret-gray-800 outline-none transition-all;
}

.pit-input {
  @apply rounded-lg bg-gray-300/[.05] px-3 py-2 text-sm caret-gray-800 shadow-inner shadow-gray-500/[0.15] outline-none transition-all;
}

.pit-input:focus-within {
  @apply bg-gray-300/[.1] shadow-gray-500/30;
}

.mor-shadow {
  box-shadow: 8px 8px 16px #e5e6e7, -8px -8px 16px #ffffff;
}

@layer utilities {
  .rounded-inherit {
    border-radius: inherit;
  }
}
